<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cariteman">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MvpApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.login.view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.dashboard.barudilihat.view.BaruDilihatActivity">
        </activity>
        <activity android:name=".ui.RecommendationActivity">
        </activity>
        <activity android:name=".ui.SearchActivity">
        </activity>
        <activity android:name=".ui.filter.FilterDialog">
        </activity>
        <activity android:name=".ui.dashboard.view.DashboardBottomViewActivity">
        </activity>
        <activity android:name=".ui.register.view.Register1Activity">
        </activity>
        <activity android:name=".ui.UserProfilActivity">
        </activity>
        <activity android:name=".ui.profile.view.ProfileActivity">
        </activity>
        <activity android:name=".ui.pengalaman.view.PengalamanActivity">
        </activity>
        <activity android:name=".ui.PengaturanActivity">
        </activity>
        <activity android:name=".ui.MessageActivity">
        </activity>
        <activity android:name=".ui.pengalaman.view.KelompokActivity">
        </activity>
        <activity android:name=".ui.pengalaman.tambahpengalaman.view.TambahPengalamanLombaFragment">
        </activity>
        <activity android:name=".ui.pengalaman.tambahpengalaman.view.TambahPengalamanOrganisasiFragment">
        </activity>
        <activity android:name=".ui.NotifikasiActivity">
        </activity>

        <service
            android:name=".ui.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>