<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cariteman">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DashboardActivity">
        </activity>
        <activity android:name=".BaruDilihatActivity">
        </activity>
        <activity android:name=".RecommendationActivity">
        </activity>
        <activity android:name=".FavoritActivity">
        </activity>
        <activity android:name=".ProfileActivity">
        </activity>
        <activity android:name=".SearchActivity">
        </activity>
        <activity android:name=".FilterDialog">
        </activity>
        <activity android:name=".Register2Activity">
        </activity>
        <activity android:name=".Register1Activity">
        </activity>
        <activity android:name=".Register3Activity">
        </activity>
        <activity android:name=".UserProfilActivity">
        </activity>
        <activity android:name=".DaftarKelompokActivity">
        </activity>
        <activity android:name=".PengalamanActivity">
        </activity>
        <activity android:name=".PengaturanActivity">
        </activity>
        <activity android:name=".MessageActivity">
        </activity>
        <activity android:name=".DetailKelompokActivity">
        </activity>
        <activity android:name=".TambahKelompok1Activity">
        </activity>
        <activity android:name=".TambahKelompok2Activity">
        </activity>
        <activity android:name=".TambahAnggota1Activity">
        </activity>
        <activity android:name=".PengalamanLombaActivity">
        </activity>
        <activity android:name=".PengalamanOrganisasiActivity">
        </activity>
        <activity android:name=".NotifikasiActivity">
        </activity>
    </application>

</manifest>